	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: auto 0px;
		padding: 0px;
		background: #202020;
		font-family: "century gothic";
		font-size: 18px;
		font-weight: 300;
		color: #444444;
	}
	
	 ul
	{
		padding: 0;
		list-style: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
		box-shadow: 0px 0px 20px #000;
		border-top: 10px solid #202020;
	}

    #header
	{
		position:fixed;
		float: left;
		width: 300px;
		height: 100%;
		padding: 3em 0em;
	}

	#logo
	{
		text-align: center;
		margin-bottom: 3em;
	}
	
	#logo h2
	{
		display: block;
		color: white;
		text-decoration:  none;
		text-transform: uppercase;
	}
	
	#logo img
	{
		display: inline-block;
		border-radius: 50%;
		border: 5px solid rgba(255, 255, 255, 0.15);
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 1em 1.5em;
		text-align: center;
		text-decoration:  none;
		text-transform: uppercase;
		font-weight: 700;
		color: rgba(255,255,255,0.5);
	}

	#menu .current_page_item a
	{
		border-top: 1px solid rgba(255,255,255,0.08);
		background: #2980b9;
		color: rgba(255,255,255,1);
	}

    .title{
    	line-height: 1em;
    	margin-bottom: -1.2em;
    }
    
	.title h2
	{
		text-transform: lowercase;
		font-size: 2em;
	}
	
	.title span
	{
		font-size: 1.3em;
		color: #6F6F6F;
	}
		
	
	#banner
	{
		margin-bottom: 1em;
	}
	
	#banner img{
		width: 100%;
	}

	#page
	{
		background: #2a2a2a;
	}

	#main
	{
		overflow: hidden;
		float: right;
		width: 800px;
		height: auto;
		padding: 3em 50px 5em 50px;
		background: #FFF;
		text-align: center;
		min-height: 74%;
	}

    .content {
    	text-align: left; /*文字居左*/
    }
    
    a:link{ color:inherit;} /* 未访问的链接 */ 
    a:visited{color:inherit;} /* 已访问的链接 */ 
    a:hover{ color:dodgerblue;} /* 鼠标在链接上 */ 
 